<section id="employment">
  <h2 class="h2">Employment</h2>

  <dl class="my-2col-grid gap-y-4">
    {% for job in cv.career %}
      {% rendercontent 'dt_left' %}{{ job.start_year }}–{{ job.end_year }}{% endrendercontent %}
      {% rendercontent 'dd_right' %}
        <header class="h4">
          <span class="font-bold">{{ job.title }}</span>,
          <a class="link-hover" href="{{ job.link }}"><span>{{ job.company }}</span></a>
        </header>

        <div class="prose prose-sm leading-tight max-w-none">{{ job.description }}</div>
        {% if job.projects.size > 0 %}
          <ul>
            {% for project in job.projects %}
              <li class="pt-4">
                <div class="h5"><a class="link-hover" href="{{ project.link }}">{{ project.title }}</a></div>
                <div class="prose prose-sm leading-tight max-w-none">{{ project.description | markdownify }}</div>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endrendercontent %}
    {% endfor %}
  </dl>
</section>
