<section id="header">
  <section class="four columns no-print" id="avatar">
    <img src="static/images/avatar.jpg" height="200" width="200" alt="A black-and-white photograph of the face of Jacob Harris"/>
  </section>

    <section class="eight columns" id="contact-list">
      <h1>{{ cv.personal.name }}</h1>
    <ul>
      <li><a href="mailto:{{ cv.personal.email }}">{{ cv.personal.email }}</a></li>
      <li><a href="{{ cv.personal.site }}">{{ cv.personal.site }}</a></li>
      <li>{{ cv.personal.phone }}</li>
    </ul>
    </section>
    </section>
  </section>
