<section id="header" class="flex justify-between flex-row gap-10">
  <div id="contact-list">
    <h1 class="h1">{{ cv.personal.name }}</h1>
    <ul>
      <li><a href="mailto:{{ cv.personal.email }}">{{ cv.personal.email }}</a></li>
      <li><a href="{{ cv.personal.site }}">{{ cv.personal.site }}</a></li>
      <li>{{ cv.personal.phone }}</li>
    </ul>
  </div>

  <div id="avatar">
    <img src="/images/avatar.jpg" height=120 width=120></img>
  </div>
</section>
