{%# Required params img = url, id = unique string for page, caption, class, size %}

{% assign id = src | split: "/" | last | replace: '-', '_' | replace: '.', "_" | slugify %}

{% assign display_src = src %}
<dialog id="modal_{{ id }}" class="modal">
    <div class="modal-box w-3/4 max-h-5/6 {{ modal_style }} !important">
        <figure class="align-center">
            <img class="object-contain p-1" src="{{ src }}"/>
            <figcaption class="prose prose-sm py-2 text-left leading-5 mx-auto max-w-8/10">{{ caption }}</figcaption>
        </figure>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>
<div class="not-prose {{ img_style }}">
    <img onclick="modal_{{ id }}.showModal()" src="{{ display_src}}" alt="{{ caption }}"/>
</div>
